.Rproj.user
.Rhistory
.RData
.Ruserdata
*.o
*.so
*.dll
src/*.o
src/*.so
tree-sitter-c/
README.html
docs

# Ignore compiled example shared objects and build outputs in inst/examples
inst/examples/*.so
inst/examples/*.o
